.grey-div-new{
    height: 150px;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    margin-top:100px;
}

.image-rounded{
height: 150px;
border-radius: 50%;
}

.margin-text{
    text-align: center;
}

.food{
    margin: 50px 0px 20px 0px;
}